* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.disabled-button {
    pointer-events: none; /* Evita que se pueda hacer clic */
    color: gray; /* Cambia el color para indicar que está deshabilitado */
    opacity: 0.5; /* Reduce la opacidad */
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	background-color: #009ad5 !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* Agregado para el efecto de paralaje */
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.title-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	/* Ajusta según sea necesario */
}

.icon {
	width: 60px;
	/* Ajusta el tamaño según sea necesario */
	margin-right: 10px;
	/* Ajusta según sea necesario */
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

form {
	width: 360px;
}

.login-content h2 {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: .3s;
}

.input-div>div {
	position: relative;
	height: 45px;
}

.input-div>div>h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #5e72e4;
	transition: .4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus>div>h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus>.i>i {
	color: #5e72e4;
}

.input-div>div>input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover {
	color: #5e72e4;
}

.btn {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	/* background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); */
	background: #5e72e4;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover {
	background-position: right;
}

@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}

	body {
		background-attachment: scroll;
		/* Deshabilita el efecto de paralaje en dispositivos móviles */
		background-size: auto 100%;
		/* Ajusta la imagen para visualización vertical */
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	body {
		background-attachment: scroll;
		/* Deshabilita el efecto de paralaje en dispositivos móviles */
		background-size: auto 100%;
		/* Ajusta la imagen para visualización vertical */
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}

	.login-content {
		justify-content: center;
	}

	body {
		background-attachment: scroll;
		/* Deshabilita el efecto de paralaje en dispositivos móviles */
		background-size: auto 100%;
		/* Ajusta la imagen para visualización vertical */
	}
}

@media screen and (max-width: 600px) and (orientation: portrait) {
	body {
		background-attachment: scroll;
		/* Deshabilita el efecto de paralaje en dispositivos móviles */
		background-size: auto 100%;
		/* Ajusta la imagen para visualización vertical */
	}
}